.login-menu{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.login-menu h3{
    margin: 0;
}

.login-menu li {
    list-style-type: none;    
}
.login-menu li a{
    text-decoration: none;
    color: rgb(243, 79, 79);
    font-weight: 500;
    font-size: medium;
}